config.cache
config.log
config.status
configure
config.h
config.h.in
propagated_variables
/autom4te.cache
dependencies
graphqlparser.c
/*.o
/*.so
linker_options
make_variables
Makefile
modlist_segment
/module.pmod
module.so
stamp-h
stamp-h.in
pike_GraphQLParser.feature
remake
/*~
/plib
